[Unit]
Description=CoreDHCP server
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/bin/bash -c 'exec /usr/bin/startCoreDHCP.sh'

[Install]
# WantedBy=multi-user.target

